* {
  box-sizing: border-box;
}

.logo-size {
  max-width: 100px;
  height: 100px;
  margin-top: 20px;
}

.color-img {
  max-width: 60%;
  height: 60px;
  margin: 20px;
}

.code-col {
  margin: 25px;
}

hr {
  width: 100%;
}

a {
  margin: 100px;
  color: #778899;
}

h1, h3 {
  font-family:"Verdana, Geneva, Tahoma, sans-serif";
}

.figcap-color { 
  margin-left:20px;
}

.figcap-code {
  margin-left: 100px;
}

.link-marg {
  margin-left: 5px;
}

footer {
  margin-bottom: 20px;
}

p {
  margin-top: 5px;
  margin-bottom: 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
