.container {
  width: 820px;
  margin: 0 auto;
  background-color: #f8f8ff;
}

.main-img {
  max-width: 100%;
  height: 300px;
  margin-left: 20px;
  margin-top: 20px;
}

.main-img-resizing {
  width: 400px;
}

aside {
  display: flex;
  margin-bottom: 20px; 
}

.flex-container {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
} 

.resizing {
  width: 300px;
}
