.container {
  width: 820px;
  margin: 0 auto;
  background-color: #f8f8ff;
}


aside {
  display: flex;
  margin-bottom: 20px; 
}

.main-img-resizing {
  width: 350px;
}

.flex-container {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.resizing {
  width: 300px;
}
